.custom-select {
    position: relative;
  }
  
.custom-select::before {
    content: "Label Text";
    position: absolute;
    top: -10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    background-color: #fff; /* Match background color */
    padding: 0 5px;
    z-index: 1;
}

.ant-table-row {
  padding-right: 10px; 
  padding-left: 10px; 
}

.selectText {
  position: absolute;
  font-size: 12px;
  line-height: 16px;
}